
.minecraft/crash-reports/

.minecraft/saves/

.minecraft/logs/

instance.cfg

.minecraft/options.txt

.minecraft/XaeroWaypoints_BACKUP032021/

.minecraft/XaeroWorldMap/

.minecraft/XaeroWaypoints/

.minecraft/usercache.json

.minecraft/usernamecache.json

.minecraft/shaderpacks/

natives/

.minecraft/journeymap/data/

.minecraft/journeymap/server/

.minecraft/journeymap/

.minecraft/fancymenu_data/

.minecraft/config/oculus.properties

.minecraft/local/ftbchunks/

.minecraft/config/multimine.cfg

.minecraft/config/jei/

.minecraft/config/libraryferret.properties

shaderpacks/

.curseclient

minecraftinstance.json

crash-reports/

logs/
